{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row justify-content-center">
    <div class="col-12 col-md-6 offset-md-3">
        <h2>Ingreso de Profesores</h2>    
        <form action="" class="" method="post">

             {% csrf_token %}

             {{ form | crispy }}

             <br>
             <div class="d-flex center">
                <button type="submit" class="button is-success">Ingresar</button>
                <br>
                <button type="reset" class="button is-danger">Cancelar</button>
             </div>
        </form>
    </div>
</div>
<br>    
<br>
    
    
        
   
    
    
    
    
{% endblock content %}



 